In [88]:
import pandas as pd

In [89]:
file_1 = pd.read_csv("g_bewerkt.csv",";")
file_2 = pd.read_csv("gg_bewerkt.csv",";")
file_3 = pd.read_csv("ggg_bewerkt.csv",";")

file_in = "vdp7.csv" 
file_out = "VDP7_met_in_uit.csv"

samengevoegd_3 = pd.concat([file_1,file_2,file_3], axis=1)
samengevoegd_3.head(3)

,beeld1,pdf1,beeld1,pdf1,beeld1,pdf1
0,P28.2.1: 293 etiketten,leeg.pdf,7037: 273 etiketten,leeg.pdf,K28.2.1: 440 etiketten,leeg.pdf
1,NaN,201947742_meteon-vdp_outline_248.pdf,NaN,201947742_meteon-vdp_outline_257.pdf,NaN,201947742_TOPLAB-vdp_outline_21.pdf
2,NaN,201947742_meteon-vdp_outline_248.pdf,NaN,201947742_meteon-vdp_outline_257.pdf,NaN,201947742_TOPLAB-vdp_outline_21.pdf

In [90]:
kolomnamen = [f'"omschrijving_{naam}";"pdf_{naam}"'for naam in range(1,4)]
kolomnamen

['"omschrijving_1";"pdf_1"',
 '"omschrijving_2";"pdf_2"',
 '"omschrijving_3";"pdf_3"']

In [91]:
samengevoegd_3.columns.values.tolist()
inuit=(len(samengevoegd_3.columns.values.tolist()))//2
inuit

3

In [92]:
samengevoegd_3.columns=["omschrijving_1","pdf_1","omschrijving_2","pdf_2","omschrijving_3","pdf_3"]
samengevoegd_3.head(3)

,omschrijving_1,pdf_1,omschrijving_2,pdf_2,omschrijving_3,pdf_3
0,P28.2.1: 293 etiketten,leeg.pdf,7037: 273 etiketten,leeg.pdf,K28.2.1: 440 etiketten,leeg.pdf
1,NaN,201947742_meteon-vdp_outline_248.pdf,NaN,201947742_meteon-vdp_outline_257.pdf,NaN,201947742_TOPLAB-vdp_outline_21.pdf
2,NaN,201947742_meteon-vdp_outline_248.pdf,NaN,201947742_meteon-vdp_outline_257.pdf,NaN,201947742_TOPLAB-vdp_outline_21.pdf

In [93]:
samengevoegd_3.fillna("stans.pdf", inplace=True)

In [94]:
samengevoegd_3.tail(3)

,omschrijving_1,pdf_1,omschrijving_2,pdf_2,omschrijving_3,pdf_3
7758,stans.pdf,201947742_meteon-vdp_outline_256.pdf,stans.pdf,stans.pdf,stans.pdf,stans.pdf
7759,7030: 637 etiketten,leeg.pdf,stans.pdf,stans.pdf,stans.pdf,stans.pdf
7760,stans.pdf,stans.pdf,stans.pdf,stans.pdf,stans.pdf,stans.pdf

In [95]:
samengevoegd_3.to_csv("vdp7.csv",";")

In [96]:
y = 11

inuit = 3

basis = ";;stans.pdf"

open(file_out, "w", encoding="utf-8") # maak een bestand om in weg te schrijven

with open(file_in, "r") as file_in: 
    read_line = file_in.readlines()
    
    with open(file_out, "a", encoding="utf-8") as target:
        target.writelines(read_line[0:3])
        
#         print(f'{basis*inuit}\n'*(y*10))
#         print(read_line[:])
#         print(f'{basis*inuit}\n'*(y*10))
               
        target.writelines(f'{basis*inuit}\n'*(y*10))
        
        target.writelines(read_line[1:])
        
        target.writelines(f'{basis*inuit}\n'*(y*10))
    
      
        target.writelines(read_line[1:3])